<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="SimpleWindowsService.SettingsService"
               behaviorConfiguration="SettingsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/SimpleWindowsService/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/SimpleWindowsService/service  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="SimpleWindowsService.ISettingsService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/SimpleWindowsService/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SettingsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>